* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---------- First Page ---------- */
body.home {
  height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.continue-btn {
  padding: 20px 50px;
  font-size: 22px;
  font-weight: bold;
  background: white;
  color: black;
  border: none;
  border-radius: 8px;
}

/* ---------- Video Page ---------- */
body.video-page {
  background: black;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

video {
  width: 100%;
  max-height: 80vh;
  object-fit: contain;
  background: black;
}

.controls {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.controls button {
  padding: 12px 25px;
  font-size: 16px;
  background: white;
  color: black;
  border: none;
  border-radius: 6px;
}
